<div class="navigation">
    <div>projects</div>
    <div>contact</div>
</div>
<div class="starting-container">
    <div class="animation" id="animation">
        <!-- <canvas id="canvas" width="100" height="100"></canvas> -->
        <div class="gradient"></div>
    </div>
    <div class="name-container">
        <!-- <div class="fullname libre-baskerville-regular font-big color-grey">
            konrad prusak
        </div> -->
        <div class="name jetbrains-mono-extrabold font-very-big">
            konrad prusak
        </div>
        <div class="profession libre-baskerville-regular font-big color-grey">
            frontend developer
        </div>
    </div>
</div>
<div class="projects-container">
    <div class="box" id="expand">
        <div class="text">
            projects
        </div>
    </div>
</div>
<div class="contact-container">
    <div>
        contact me: konrad.prusak@gmail.com
    </div>
</div>
