

.top-bar {
    width: auto;
    height: 4rem;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    .logo {
        //color: white;
        font-size: 1.5rem;
    }
    .navigation {
        display: flex;
        cursor: pointer;
        //color: white;
        div {
            padding: 8px;
            margin: 0 0 0 16px;
        }
        div:hover {
            background-color: var(--theme-color-hover);
            border-radius: 8px;
        }
    }
}

.gradient-container {
    height: calc(100vh - 4rem - 2rem - 7rem);
    width: 100%;
    background: #ececee;
    background: linear-gradient(0deg, #ececee 0%, var(--theme-color) 59%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    img {
        margin-bottom: 3rem;
        z-index: 9;
        width: 40%;
    }
    .img-slide-in {
        //animation: slideInFromBottom 1s cubic-bezier(.17,.67,.67,.85);
        animation: bounce-in-bottom 2s ease;
    }
}

.projects-container {
    //padding: 0 2rem;
    display: flex;
    justify-content: center;
    background-color: #ececee;
    overflow: hidden;
    .container {
        z-index: 10;
        padding: 2rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        height: 800px;
        width: 80%;
        background-color: #ffffff;
        box-shadow: 2px 4px 12px #00000014;
        transition: all .3s cubic-bezier(0,0,.5,1);
        &:hover {
            box-shadow: 2px 4px 16px #00000029;
            transform: scale3d(1.01, 1.01, 1.01);
        }
    }
}

.contact-container {
    display: flex;
    justify-content: center;
    background-color: #ececee;
    padding: 1rem 0 3rem 0;
    .container {
        width: 90%;
    }
}



@media screen and (max-width: 1100px) {
    .top-bar {
        .logo {
            font-size: 1.2rem;
        }
    }
    .gradient-container {
        img {
            width: 55%;
        }
    }
}






@keyframes slideInFromBottom {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes bounce-in-bottom {
    0% {
      opacity: 0;
      transform: translateY(2000px);
    }
    60% {
      opacity: 1;
      transform: translateY(-30px);
    }
    80% { transform: translateY(10px); }
    100% { transform: translateY(0); }
  }





