<div class="top-bar">
    <div class="logo">
        Konrad Prusak
    </div>
    <div class="navigation">
        <div>Projects</div>
        <div>Contact</div>
    </div>
</div>

<div class="gradient-container">
    <div class="hello-container" id="hello">
        <img src="assets/hello-black.svg" alt="hello">
        <div class="introduction">I'm an UI/UX Developer</div>
        <button class="contact-me">Contact me</button> 
    </div>
</div>

<div class="projects-container">
    <div class="container" id="expand">
        
    </div>
</div>

<div class="contact-container">
    <div class="container">
        
    </div>
</div>
