<!-- <div class="top-bar">
    <div class="logo">
        Konrad Prusak
    </div>
    <div class="navigation">
        <div>Projects</div>
        <div>Contact</div>
    </div>
</div> -->

<div class="gradient-container">
    <div class="hello-container" id="hello">
        <div class="hello">
            <img src="assets/hello-white.svg" alt="hello">
        </div>
        
        <div class="avatar">
            <img src="assets/avatar.png" alt="picture photo">
        </div>
        <div class="name">I'm Konrad Prusak</div>
        <div class="position">UI / UX Engineer</div>
        <button class="contact-me" (click)="scroll(contact)">Contact me</button> 
    </div>
</div>

<div class="projects-container">
    <div class="container" id="expand">
        <div class="font-big">Projects</div>
    </div>
</div>

<div class="contact-container" #contact>
    <div class="container">
        <div class="font-big">Contact me</div>
    </div>
</div>
