<div class="top-bar">
    <div class="logo">
        Konrad Prusak
    </div>
    <div class="navigation">
        <div>Projects</div>
        <div>Contact</div>
    </div>
</div>

<div class="gradient-container">
    <img src="assets/hello-black.svg" alt="hello" id="hello">
    <!-- <div>design with passion</div> -->
</div>

<div class="projects-container">
    <div class="container" id="expand">
        
    </div>
</div>

<div class="contact-container">
    <div class="container">
        
    </div>
</div>
